<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    
    <script>
        function hello(){
            console.log("hello");
        }
    </script>
    <div id="aboutusdiv" data-role="view" data-title="About Techie Me">
        <header data-role="header">
            <div data-role="navbar" id="navbar">
                <div>
                    <a data-align="left" data-role="backbutton"><i class="fa fa-arrow-left"></i></a>
                    <div data-role="view-title"></div>
                    
                </div>
            </div>
        </header>
        <div id="aboutuscontent" style="block">
            <p>
                Thanks for Installing the app. 
            </p>
            <p>
                 This app is the mobile version of the famous blog Techie Me. I have been maintaining this blog for last three years. By installing this app you have joined 300+ subscribers and followers who are learning everyday.
            </p>
            <p>
                You can expect a lot of programming posts with very simple and easy to understand explaination.
            </p>
        </div>       
    </div>
</body>

</html>